body {
  font-family: "Bebas Neue", cursive;
  font-family: "Ubuntu Mono", monospace;
  background: linear-gradient(
    109.6deg,
    rgb(245, 239, 249) 30.1%,
    rgb(207, 211, 236) 100.2%
  );
}
h5 {
  font-size: 1.8rem;
  color: #5a6275;
}
p {
  margin: 0 auto;
}
p.forecast {
  text-align: start;
  margin-left: 20px;
  margin-bottom: 15px;
  color: #5a6275;
}
sup {
  font-size: large;
}
#app-top {
  margin-top: 10px;
  padding: 10px 20px;
}

#weather-description {
  text-transform: capitalize;
}

#weather-tip {
  margin: 0;
}

#search-box {
  flex-direction: column;
}

#chosen-city,
#week-forecast {
  margin: 0 5px;
}

#container-today,
#container-forecast {
  display: block;
  max-width: 90%;
  border: 1px rgba(0, 0, 0, 0.07) solid;
  border-radius: 2px;
  margin: 30px 20px;
  padding: 20px;
}
#container-forecast {
  padding: 20px 10px 10px;
  --bs-bg-opacity: 0.5;
}

#container-today {
  background-image: url("../img/london.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-clip: content-box;
  border-radius: 2px;
  opacity: 100%;
}
#current-loc-btn {
  background-color: white;
}
ul.range {
  list-style-type: none;
  font-size: 15px;
  color: #5a6275;
  padding: 5px 0;
}

.tempToday,
.iconToday {
  font-weight: 700;
  margin: 20px 5px;
  font-size: 40px;
  /*Image provided by Vecteezy.com*/
}

.tempToday {
  padding-top: 10px;
}

.fun-text {
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  margin-top: 15px;
  color: black;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 10%,
    rgba(255, 255, 255, 0.3604035364145658) 48%,
    rgba(255, 255, 255, 0.9) 95%
  );
}
img {
  display: block;
  margin: 0 auto;
}
